@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  src: url(/fonts/morris-roman.black.ttf) format('truetype');
  font-family: MorrisRoman;
  font-weight: normal;
  font-display: swap;
}

body {
  margin: 0;
  background: #121212;
  font-family: MorrisRoman, sans-serif;
}

#gameplay-area {
  position: relative;
  background: url(/assets/background.png) no-repeat;
  background-position: center 0;
  background-size: 100%;
  overflow: hidden;

  aspect-ratio: 16 / 9;
  max-width: 100vw;
  margin: auto;
}

#arena {
  position: relative;
  background: url(/assets/arena.png) center no-repeat;
  background-size: contain;
  aspect-ratio: 16 / 9;
  margin: auto;
  width: 90%;
}

.character::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  display: block;
  content: '';
  height: 5%;
  width: 75%;
  background: #00000070;
  filter: blur(2px);
  border-radius: 100%;
}
